.container{
  background-color: skyblue;
  border: 1px solid #ccc;
  border-radius: 15px;
  color: white;
}
.container{
  margin: 250px auto;
  padding: 50px;
}

input[type="number"]{
   color: grey;
   height: 35px;
   font-size: 20px;
   border: 1px solid #ccc;
   border-radius: 3px;
   border-style: solid;
}

h5{
  font-size: 22px;
}

h4{
  color: white;
  font-family: Helvetica;
  font-size: 25px;
  text-transform: uppercase;
}
